
img {
  height: 170px;
  width: 170px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  justify-content: space-around;
}

#option > h2 {
  padding-bottom: 100px;
}



.center {
  text-align: center;
  color: gray;
}


.outcome {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  color: blue;
}



#game > h1 {
  text-align: center;
  padding: 50px;
  color: red;
}
